html, body {
  margin:0;
  height:100%;
  width:100%;
  
}
body{
  background-image:url('../images/city.jpg');
  background-size:cover;
  background-position:center;
  background-attachment: fixed;
}
#app, #inner{
  background:inherit;
}
h1, h3{ margin:0; padding:0; font-family: 'Source Sans Pro'; font-weight:100 }

/* top content */
.top{ display:flex; }
.top{ 
  .city h1{ font-family: 'Source Sans Pro'; font-weight:100; padding:10px 0 0 20px; font-size:64px; color:#eee }
  .time h1{ font-family: 'Source Sans Pro'; font-weight:100; padding:10px 0 0 20px; font-size:64px; color:#eee; position: absolute; right:20px }
  // .zip{ display:flex }
  input[type="text"]{ background-color:transparent; border:none; border-bottom:1px solid #ddd; font-size:52px; width:300px; margin:10px 0 0 20px; font-family: 'Source Sans Pro'; font-weight:100; color:#ddd }
  .sub{ font-size:32px; font-family: 'Source Sans Pro'; font-weight:100; margin-left:20px; color:#ddd }
  .sub:hover{ cursor:pointer }
}


/* bottom content */
.bottom{
  bottom:0;
  background: inherit;
  width: 100%;
  height: 300px;
  position: absolute;
  overflow: hidden;  //adding overflow hidden
 }
.bottom:before{
  content: '';
  width: 110%;
  height: 350px;
  background: inherit; 
  position: absolute;
  left: -25px;  //giving minus -25px left position
  right: 0;
  top: -25px;   //giving minus -25px top position 
  bottom: 0;
  box-shadow: inset 0 0 0 200px rgba(111,111,111,0.3);
  filter: blur(10px);
 }

.weather{ position:absolute; height:100%; width:100%; display:flex; }

.current{ width:30%; display:flex; justify-content: center; align-items: center; flex-direction: column }
.current{
  .temp{ font-size:110px; color:#eee }
  .curr-icon{ font-weight:100; font-size:72px }
  .conditions{ margin-top:20px; }
  .conditions{
    h3{ font-size:26px; color:#ddd }
    span{ padding:0 20px  }
    .day, .wind{ border-right:1px solid #ddd }
  }
  .error{ padding:20px; text-align:center; color:#eee }
}


.fiveday{ width:70%; display:flex }
.fiveday{
  .single{ width:20%; border-left:1px solid rgba(130,130,130,0.5); display:flex; justify-content: center; align-items: center; flex-direction: column; font-family: 'Source Sans Pro'; font-weight:100 }
  .single{
    .icon{ font-size:52px; color:#ddd }
    .temp{ margin-top:20px; font-size:58px; color:#eee  }
    .low{ font-size:28px; color:#bbb }
    .day{ margin-top:10px; font-size:22px;color:#bbb; font-weight:300 }
  }
  .error{ padding:20px; text-align:center; color:#eee; margin:auto }
}

