html, body {
  margin: 0;
  height: 100%;
  width: 100%; }

body {
  background-image: url("../images/city.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

#app, #inner {
  background: inherit; }

h1 {
  margin: 0;
  padding: 0; }

/* top content */
.top {
  display: flex; }

.top .city h1 {
  font-family: 'Source Sans Pro';
  font-weight: 100;
  padding: 10px 0 0 20px;
  font-size: 64px;
  color: #eee; }

.top .time h1 {
  font-family: 'Source Sans Pro';
  font-weight: 100;
  padding: 10px 0 0 20px;
  font-size: 64px;
  color: #eee;
  position: absolute;
  right: 20px; }

/* bottom content */
.bottom {
  bottom: 0;
  background: inherit;
  width: 100%;
  height: 300px;
  position: absolute;
  overflow: hidden; }

.bottom:before {
  content: '';
  width: 110%;
  height: 350px;
  background: inherit;
  position: absolute;
  left: -25px;
  right: 0;
  top: -25px;
  bottom: 0;
  box-shadow: inset 0 0 0 200px rgba(111, 111, 111, 0.3);
  filter: blur(10px); }

.weather {
  position: absolute; }
